{% extends "adminlayout.html" %}


{% block head %}
{% endblock %}



{% block title %}
AdminPanel
{% endblock %}

{% block content_header %}
Dashboard
{% endblock %}


{% block main %}
<!-- Main content -->
<section class="content">
            <div class="jumbotron">
              <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is my final project for CS50,  Introduction to computer science.</p>
                <hr class="my-4">
                <p><br></br></p>
                <p>It's a basic application where you can manage blogs of a website and receive messages from its visitors. It stores data you can "manage" within a calendar as well.</p>
                <p><br></br></p>
                <p>I used <a href="https://adminlte.io/themes/AdminLTE/index2.html" target="_blank">Complex theme </a>for the Website and <a href="https://adminlte.io/themes/AdminLTE/index2.html" target="_blank">AdminLte</a> for the Backend interface.</p>
                <p>Flask and Python with a lot a great tools supports the backend of both, the website and the Admin interface.</p>
                <p><br></br></p>
                <p>It's basically the beginning of a bigger project who will grow along with my learning curve.</p>
                <a class="btn btn-primary btn-lg" href="https://github.com/nicoawa/CS50-Final-project" role="button">Learn more in GitHub</a>
            </div>
</section>
{% endblock %}

This application is made with<i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://mydigitaldevops.com" target="_blank">Me!</a>
Admin theme used<a href="https://adminlte.io/themes/AdminLTE/index2.html" target="_blank"> here.</a>

{%block script %}

{% endblock %}
