{% extends "adminlayout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
 <!-- Content Wrapper. Contains page content -->
<div class="content">
    <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png"/>
</div>
            <!-- /.box-body -->
{% endblock %}
{% block main2 %}
 <!-- Content Wrapper. Contains page content -->
<div class="content">
    <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png"/>
</div>
            <!-- /.box-body -->
{% endblock %}